<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.apartmentmanagementsystem"
    android:hardwareAccelerated="true"
    android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".user.AddEventActivity"></activity>
        <activity android:name=".guard.GuardTaskActivity" />
        <activity android:name=".user.ReportActivity" />
        <activity android:name=".user.UtilityReportActivity" />
        <activity android:name=".user.RentReportActivity" />
        <activity android:name=".user.GuestHomeActivity" />
        <activity android:name=".user.history.ComplainHistoryActivity" />
        <activity android:name=".user.history.TaskHistoryActivity" />
        <activity android:name=".user.history.GuestHistoryActivity" />
        <activity android:name=".user.history.UtilityHistoryActivity" />
        <activity android:name=".user.history.RentHistoryActivity" />
        <activity android:name=".user.HistoryActivity" />
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".guard.GuardMainActivity" />
        <activity android:name=".guard.GuardHomeActivity" />
        <activity android:name=".user.GuestActivity" />
        <activity android:name=".user.EventsActivity" />
        <activity android:name=".user.NoticeActivity" />
        <activity android:name=".user.GuardActivity" />
        <activity android:name=".user.TaskActivity" />
        <activity android:name=".user.ComplainActivity" />
        <activity android:name=".user.PayUtilityBillActivity" />
        <activity android:name=".user.PayRentActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".FlatActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".user.RentActivity" />
        <activity android:name=".user.MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".user.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification.MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>